
#hiddenClass{
    display: none;
}
body {
    background-image: url("water.jpg");
    background-repeat: no-repeat, repeat;
    background-color: #cccccc;
    background-size: 1920px;
}
.fieldset{
 background-color:#FFFFFF;
}